<div class="delegate_details_left">
    <mat-accordion>
        <mat-expansion-panel [expanded]="true">
            <mat-expansion-panel-header>
                <h3>Overview</h3>
            </mat-expansion-panel-header>
            <mat-panel-description>
                <ul>
                    <li><a routerLink="approval" routerLinkActive="active">Approval</a></li>
                    <li><a routerLink="pending" routerLinkActive="active">Pending</a></li>
                    <li><a>Rejected</a></li>
                </ul>
            </mat-panel-description>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <h3>Requests</h3>
            </mat-expansion-panel-header>
            <mat-panel-description>
                <ul>
                    <li><a routerLink="approval" routerLinkActive="active">Approval</a></li>
                    <li><a routerLink="pending" routerLinkActive="active">Pending</a></li>
                    <li><a>Rejected</a></li>
                </ul>
            </mat-panel-description>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <h3>Visits</h3>
            </mat-expansion-panel-header>
            <mat-panel-description>
                <ul>
                    <li><a >Today</a></li>
                    <li><a >Upcomming</a></li>
                    <li><a >Previous</a></li>
                </ul>
            </mat-panel-description>
        </mat-expansion-panel>
    </mat-accordion>
    <button href="" class="logOut">Log Out</button>
</div>
