<div class="row justify-content-center">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 text-center">
        <div class="quiddiya_style delegate_details">

            <div class="row align-items-stretch pl-xl-4 pl-lg-4 pl-md-4">
                <div class="col-md-3 text-left">
                    <app-delegate-list></app-delegate-list>
                </div>
                 <div class="col-md-9">
                     <router-outlet></router-outlet>
                    <!-- <app-approval id="Approval" *ngIf="Approval"></app-approval>
                    <app-pending id="Requests" *ngIf="Requests"></app-pending> -->
                </div> 
                
            </div>


            <!-- <div class="next">
                <a (click)="next()">NEXT</a>
            </div> -->
        </div>
    </div>
</div>