@import '../../../styles.scss';
.delegate_details{
    .heading{
        p{
            color: $secondary-color;
        }
    }
    
    // .delegate_details_left{
    //     border-radius: 15px;
    //     border:1px solid $primery-color;
    //     height: 100%;
    //     overflow: hidden;
    //     h3{
    //         font-size: $midium-font;
    //         color: $primery-color;
    //         margin-bottom: 0px;
    //         text-transform: uppercase;
    //     }
    //     ul{
            
            
    //         width: 100%;
    //         li{
                
    //             a{
    //                 font-size: $midium-font;
    //                 color: $primery-color;
    //                 padding: 10px 0px;
    //                 padding-left: 30px;
    //                 width: 100%;
    //                 &:hover{
    //                     background-color: #ededed;
                        
    //                 }
    //             }
    //         }
    //     }
    //     .logOut{
    //         text-transform: uppercase;
    //         color: $gray-color;
    //         margin-top: 15px;
    //         font-size: $midium-font;
    //         border:0px;
    //         background-color: transparent;
    //     }
    // }
}

@media only screen and (max-width:991px){
    .delegate_details{
        .delegate_details_left{
            h3{font-size: $small-font;}
            ul{
                li{
                    a{padding-left: 0px;}
                }
            }
        }
    }

}
@media only screen and (max-width:767px){
    .delegate_details{
        .delegate_details_left{
            margin: 0px 15px 15px;
            h3{font-size: $small-font;}
            ul{
                li{
                    a{padding-left: 0px; font-size: 1.2em; padding-left: 15px;}
                }
            }
            .logOut{
                width: 100%;
                background-color: $secondary-color;
                color: #ffffff;
            }
        }
        
    }
    
}
@media only screen and (max-width:575px){
    .delegate_details{
        .delegate_details_left{
            margin: 0px 15px 15px;
            ul{
                li{
                    a{padding: 5px 0px; padding-left: 5px; font-size: $small-font;}
                }
            }
            .logOut{
                width: 100%;
            }
        }
        
    }
}
@media only screen and (max-width:480px){

}