<div class="row justify-content-center">
    <div class="col-xl-7 col-lg-7 col-md-12 col-sm-12 col-12 text-center">
        <div class="quiddiya_style">
            <div class="heading">
                <h1>Qiddiya Experience Center</h1>
                <p>Booking Managment System</p>
            </div>
            <div class="request_form">
                <form>
                    <div class="form-group">
                        <input type="email" placeholder="Email" class="form-control" />
                    </div>
                    <div class="form-group">
                        <input type="password" placeholder="Password" class="form-control" />
                    </div>
                </form>
                <a>Forget Password</a>
            </div>

            <div class="next">
                <a (click)="next()">NEXT</a>
            </div>
        </div>
    </div>
</div>