<div class="delegate_details_section">
    <div class="heading text-left">
        <h1>Pending Request</h1>
    </div>
    <div class="pending_request_list">
        <div class="table-responsive">
            <table class="table">
                <tbody>
                    <tr>
                        <th align="left">
                            <p>Lead DELEGATE</p>
                            <div>
                                <a>
                                    <img src="./assets/img/up-arrow.svg" alt="">
                                </a>
                                <a>
                                    <img src="./assets/img/down-arrow.svg" alt="">
                                </a>
                            </div>
                        </th>
                        <th>
                            <p>Time slot 1</p>
                            <div>
                                <a>
                                    <img src="./assets/img/up-arrow.svg" alt="">
                                </a>
                                <a>
                                    <img src="./assets/img/down-arrow.svg" alt="">
                                </a>
                            </div>
                            
                        </th>
                        <th>
                            <p>Time slot 2</p>
                            <div>
                                <a>
                                    <img src="./assets/img/up-arrow.svg" alt="">
                                </a>
                                <a>
                                    <img src="./assets/img/down-arrow.svg" alt="">
                                </a>
                            </div>
                            
                        </th>
                        <th><p>Delegates</p>
                            <div>
                                <a>
                                    <img src="./assets/img/up-arrow.svg" alt="">
                                </a>
                                <a>
                                    <img src="./assets/img/down-arrow.svg" alt="">
                                </a>
                            </div>
                        </th>
                        <th><p>Initial Screening</p>
                            <div>
                                <a>
                                    <img src="./assets/img/up-arrow.svg" alt="">
                                </a>
                                <a>
                                    <img src="./assets/img/down-arrow.svg" alt="">
                                </a>
                            </div>
                        </th>
                    </tr>
                    <tr>
                        <td text-center>
                            <p>Malcom Peters</p>
                        </td>
                        <td align="center">
                            <p>24/10/19 11:00</p>
                        </td>
                        <td>
                            <p>24/10/19 16:00</p>
                        </td>
                        <td>
                            <p>10</p>
                        </td>
                        <td>
                            <div class="status white"></div>
                        </td>
                    </tr>
                    <tr>
                        <td text-center>
                            <p>Malcom Peters</p>
                        </td>
                        <td align="center">
                            <p>24/10/19 11:00</p>
                        </td>
                        <td>
                            <p>24/10/19 16:00</p>
                        </td>
                        <td>
                            <p>10</p>
                        </td>
                        <td>
                            <div class="status green"></div>
                        </td>
                    </tr>
                    <tr>
                        <td text-center>
                            <p>Malcom Peters</p>
                        </td>
                        <td align="center">
                            <p>24/10/19 11:00</p>
                        </td>
                        <td>
                            <p>24/10/19 16:00</p>
                        </td>
                        <td>
                            <p>10</p>
                        </td>
                        <td>
                            <div class="status red"></div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>&nbsp;</p>
                        </td>
                        <td>
                            <p>&nbsp;</p>
                        </td>
                        <td>
                            <p>&nbsp;</p>
                        </td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td>
                            <p>&nbsp;</p>
                        </td>
                        <td>
                            <p>&nbsp;</p>
                        </td>
                        <td>
                            <p>&nbsp;</p>
                        </td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>